package layout

templ Base() {
   
    <!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1/dist/missing.min.css"></link>
    <link rel="stylesheet" href="/static/styles.css"></link>
    <title>nice site</title>
    <script src="/static/htmx.min.js" ></script>
    </head>
    <body hx-boost="true">
    { children...}
    </body>
    </html>
}